name: build
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go-version: ['1.24']
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: install go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: checkout code
      uses: actions/checkout@v4
    - name: install dependencies
      run: go get
    - name: test
      run: make test
    - name: format
      run: |
        go install github.com/daixiang0/gci@latest
        go fmt ./... && gci write .
    - name: lint
      run: make test
